<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LIMITED_NUMBER_OR_SONGS</key>
	<integer>3</integer>
	<key>GOOGLE_DATA_API_KEY</key>
	<string>AIzaSyBETfbiYDupCbYGm1CfCbNVOyU_tYKfBTc</string>
	<key>GOOGLE_DATA_API_URL</key>
	<string>https://www.googleapis.com/youtube/v3/videos</string>
	<key>UPLOAD_ENDPOINT</key>
	<string>https://production.aichords.pro/upload</string>
	<key>YOUTUBE_ENDPOINT</key>
	<string>https://production.aichords.pro/youtube</string>
	<key>LIMITED_UPLOAD_FILE_SIZE</key>
	<integer>3072</integer>
	<key>MAX_UPLOAD_FILE_SIZE</key>
	<integer>314572800000000</integer>
	<key>LIMITED_DURATION</key>
	<integer>60</integer>
	<key>MAX_DURATION</key>
	<integer>600</integer>
	<key>INTERVAL_START_ADJUSTMENT</key>
	<integer>-1000</integer>
</dict>
</plist>
